.table {
  margin-top: 20px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

h1 {
  text-align: center;
}

caption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  caption-side: top;
}

.container-button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 10px;
}

.modal-dialog {
  margin-top: 100px;
  text-align: center;
}

.modal-title {
  text-align: center;
}

input {
  text-align: center;
}

select {
  text-align: center;
}

@media only screen and (max-width: 860px) {
  .container-button {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
  }
}