<!-- Botón para abrir el Modal -->
<div class="container container-button">
  <button
    type="button"
    class="btn btn-primary btn2"
    data-bs-toggle="modal"
    data-bs-target="#registroModal"
  >
    Nuevo pago
  </button>
</div>

<!-- Modal para crear pago recurrente-->
<div
  class="modal fade"
  id="registroModal"
  tabindex="-1"
  aria-labelledby="registroModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Nuevo Registro</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        
        <!-- Formulario dentro del modal -->
        <form
          class="registroForm"
          (ngSubmit)="agregarPagoRecurrente()"
          #registroForm="ngForm"
        >
          <div class="mb-3">
            <label for="categorias" class="form-label">Categorias</label>
            <select
              class="form-select"
              id="categorias"
              required
              [(ngModel)]="categoria"
              name="categoria"
            >
              <option selected value="">Categoria</option>
              @for(categoria of categorias; track categoria){
              <option>
                {{ categoria.nombre }}
              </option>
              }
            </select>
          </div>

          <div class="mb-3">
            <label for="frecuencia" class="form-label">Frecuencia</label>
            <select
              class="form-select"
              id="frecuencia"
              required
              [(ngModel)]="frecuencia"
              name="frecuencia"
            >
              <option selected value="">Frecuencias</option>
              @for(frecuencia of frecuencias; track frecuencia){
              <option>
                {{ frecuencia }}
              </option>
              }
            </select>
          </div>

          <div class="mb-3">
            <label for="intervalo" class="form-label">Intervalo</label>
            <input 
              type="number" 
              class="form-control" 
              name="intervalo" 
              id="intervalo" 
              placeholder="Intervalo de ejecución"
              min="0"
              [(ngModel)]="intervalo"
            >
          </div>

          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select
              class="form-select"
              id="tipo"
              required
              [(ngModel)]="tipo"
              name="tipo"
            >
              <option selected value="">Tipo</option>
              <option value="Gasto">Gasto</option>
              <option value="Ingreso">Ingreso</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="inputNumber" class="form-label">Cantidad (€)</label>
            <input
              type="number"
              class="form-control"
              id="inputNumber"
              min="0.01"
              step=".01"
              [(ngModel)]="cantidad"
              name="cantidad"
              placeholder="Cantidad"
            />
          </div>

          <div class="mb-3">
            <label for="concepto" class="form-label">Concepto</label>
            <input
              type="text"
              class="form-control"
              id="concepto"
              required
              [(ngModel)]="concepto"
              name="concepto"
              placeholder="Concepto de la compra"
            />
          </div>

          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de inicio</label>
            <input
              type="date"
              class="form-control"
              id="fecha"
              required
              [(ngModel)]="fecha"
              name="fecha"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="registroForm.invalid"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para actualizar pago recurrente-->
<div
  class="modal fade"
  id="actualizarModal"
  tabindex="-1"
  aria-labelledby="registroModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Actualizar Pago recurrente</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetearVariables()"
        ></button>
      </div>
      <div class="modal-body">

        
        <!-- Formulario dentro del modal -->
        <form
          class="registroForm"
          (ngSubmit)="actualizarPagoRecurrente()"
          #registroForm="ngForm"
        >
          <div class="mb-3">
            <label for="categorias" class="form-label">Categorias</label>
            <select
              class="form-select"
              id="categorias"
              required
              [(ngModel)]="categoria"
              name="categoria"
            >
              <option selected value="">Categoria</option>
              @for(categoria of categorias; track categoria){
              <option>
                {{ categoria.nombre }}
              </option>
              }
            </select>
          </div>

          <div class="mb-3">
            <label for="frecuencia" class="form-label">Frecuencia</label>
            <select
              class="form-select"
              id="frecuencia"
              required
              [(ngModel)]="frecuencia"
              name="frecuencia"
            >
              <option selected value="">Frecuencias</option>
              @for(frecuencia of frecuencias; track frecuencia){
              <option>
                {{ frecuencia }}
              </option>
              }
            </select>
          </div>

          <div class="mb-3">
            <label for="intervalo" class="form-label">Intervalo</label>
            <input 
              type="number" 
              class="form-control" 
              name="intervalo" 
              id="intervalo" 
              placeholder="Intervalo de ejecución"
              min="0"
              [(ngModel)]="intervalo"
            >
          </div>

          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select
              class="form-select"
              id="tipo"
              required
              [(ngModel)]="tipo"
              name="tipo"
            >
              <option selected value="">Tipo</option>
              <option value="Gasto">Gasto</option>
              <option value="Ingreso">Ingreso</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="inputNumber" class="form-label">Cantidad (€)</label>
            <input
              type="number"
              class="form-control"
              id="inputNumber"
              min="0.01"
              step=".01"
              [(ngModel)]="cantidad"
              name="cantidad"
              placeholder="Cantidad"
            />
          </div>

          <div class="mb-3">
            <label for="concepto" class="form-label">Concepto</label>
            <input
              type="text"
              class="form-control"
              id="concepto"
              required
              [(ngModel)]="concepto"
              name="concepto"
              placeholder="Concepto de la compra"
            />
          </div>

          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de inicio</label>
            <input
              type="date"
              class="form-control"
              id="fecha"
              required
              [(ngModel)]="fecha"
              name="fecha"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="registroForm.invalid"
            data-bs-dismiss="modal"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de los registros -->
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <caption>
        Pagos recurrentes
      </caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Concepto</th>
          <th scope="col">Frecuencia</th>
          <th scope="col">Intervalo</th>
          <th scope="col">Tipo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Siguiente pago</th>
          <th scope="col">Activo</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for(pago of pagos; track pago.id){
        <tr>
          <td>
            {{ pago.categoria }}
          </td>
          <td>
            {{ pago.concepto }}
          </td>
          <td>
            {{ pago.frecuencia }}
          </td>
          <td>
            {{ pago.intervalo }}
          </td>
          <td>
            {{ pago.tipo }}
          </td>
          <td>
            {{ pago.cantidad | currency : "EUR" }}
          </td>
          <td>
            {{ pago.siguiente_pago }}
          </td>
          <td>
            <div class="form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
                [checked]="pago.estado"
                (change)="modificarEstadoPagoRecurrente($event, pago.id)"
              />
            </div>
          </td>
          <td>
            <button class="btn btn-danger" (click)="eliminar(pago.id)">
              <i class="bi bi-trash3"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-success" (click)="botonEditar(pago.id)" data-bs-toggle="modal" data-bs-target="#actualizarModal"><i class="bi bi-pencil-square"></i></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if (pagos.length == 0) {
    <h4 style="text-align: center">No hay pagos recurrentes</h4>
    }
  </div>
</div>
