<div class="saldo-container">
  <div class="saldo-card">
    <h2 class="saldo-title">Saldo Actual</h2>

    <form class="saldo-form">
      <div class="saldo-input-container">
        <label for="nuevoSaldo" class="form-label">Saldo</label>
        @if (editar) {
          <input type="text" class="form-control saldo-input" id="nuevoSaldo" [(ngModel)]="nuevoSaldo" name="nuevoSaldo" required />
        }
        @if (!editar) {
          <p id="saldo" class="saldo-display">{{ saldo }}</p>
        }
      </div>

      <div class="button-group">
        <button class="btn-edit" (click)="setEditar()">
          <i class="bi bi-pencil-square"></i>
        </button>
        @if (editar) {
          <button class="btn-save" (click)="setSaldo()">
            <i class="bi bi-floppy"></i>
          </button>
        }
      </div>
    </form>
  </div>
</div>
