<!-- <div class="container mt-5 registro">
    <form class="registroForm" (ngSubmit)="generarRegistro()" #registroForm="ngForm">
      <div class="mb-3">
        <label for="categorias" class="form-label">Categorias</label>
        <select
          class="form-select"
          id="categorias"
          required
          [(ngModel)]="categoria"
          name="categoria"
        >
          <option selected value=""></option>
          @for(categoria of categorias; track categoria){
            <option>
            {{ categoria.nombre }}
          </option>
          }
        </select>
      </div>
  
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <select
          class="form-select"
          id="tipo"
          required
          [(ngModel)]="tipo"
          name="tipo"
        >
          <option selected value=""></option>
          <option value="Gasto">Gasto</option>
          <option value="Ingreso">Ingreso</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="inputNumber" class="form-label">Cantidad</label>
        <input
          type="number"
          class="form-control"
          id="inputNumber"
          min="0.01"
          step=".01"
          required
          [(ngModel)]="cantidad"
          name="cantidad"
        />
      </div>
  
      <div class="mb-3">
        <label for="concepto" class="form-label">Concepto</label>
        <input
          type="text"
          class="form-control"
          id="concepto"
          required
          [(ngModel)]="concepto"
          name="concepto"
        />
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">
        Enviar
      </button>
    </form>
  </div>
   -->