@if(saldo < 0) {
    <h1 class="display-3">Saldo de <strong>{{ username }}</strong><strong style="color:red"> {{ saldo | currency : "EUR" }}</strong></h1>
} @else {
    <h1 class="display-3">Saldo de <strong>{{ username }}</strong> {{ saldo | currency : "EUR" }}</h1>
}
<h1 class="display-5">Gastos {{ gastoTotal | currency : "EUR" }}</h1>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <caption>Resumen de Gastos</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Categoría</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @for(registro of registrosPorCategoria; track registro){
                <tr>
                    <td>{{ registro.categoria }}</td>
                    <td>{{ registro.total_cantidad | currency : "EUR" }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>