.table {
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  h1 {
    text-align: center;
  }
  
  caption {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px; 
    caption-side: top;
  }
  
  