<!-- Botón para abrir el Modal -->
<div class="container container-button">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#categoriaModal"
    >
      Nueva Categoría
    </button>
</div>

<!-- Modal -->
<div
class="modal fade"
id="categoriaModal"
tabindex="-1"
aria-labelledby="registroCategoriaLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="registroCategoriaLabel">Nueva Categoria</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <!-- Formulario dentro del modal -->
      <form
        class="registroForm"
        (ngSubmit)="setCategoria()"
        #registroForm="ngForm"
      >
        <div class="mb-3">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input
            type="input"
            class="form-control"
            id="inputNombre"
            required
            [(ngModel)]="nombreCategoria"
            name="nombre"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="registroForm.invalid"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Tabla de los registros -->
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Categoría</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for(categoria of categoriasUnicas; track categoria){
                    <tr>
                        <td>{{ categoria.nombre }}</td>
                        <td><button class="btn btn-danger" (click)="eliminar(categoria.id)"><i class="bi bi-trash3"></i></button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>